{% extends "index.html" %}

{% block left-sidebar-a-class %}
<li><a href={% url 'index' %} class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
<li><a href={% url 'elements' %} class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
<li><a href={% url 'charts' %} class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
<li><a href={% url 'panels' %} class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
<li><a href={% url 'notifications' %} class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
<li>
	<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span>
		<i class="icon-submenu lnr lnr-chevron-left"></i></a>
	<div id="subPages" class="collapse ">
		<ul class="nav">
			<li><a href={% url 'page_profile' %} class="">Profile</a></li>
			<li><a href={% url 'page_login' %} class="">Login</a></li>
			<li><a href={% url 'page_lockscreen' %} class="">Lockscreen</a></li>
		</ul>
	</div>
</li>
<li><a href={% url 'tables' %} class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
<li><a href={% url 'typography' %} class="active"><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
<li><a href={% url 'icons' %} class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
{% endblock %}
{% block main-content %}
<!-- MAIN CONTENT -->
<div class="main-content">
	<div class="container-fluid">
		<h3 class="page-title">Typography</h3>
		<div class="panel panel-headline">
			<div class="panel-body">
				<h1>Dashboard Heading 1</h1>
				<h2>Dashboard Heading 2</h2>
				<h3>Dashboard Heading 3</h3>
				<h4>Dashboard Heading 4</h4>
				<h5>Dashboard Heading 5</h5>
				<h6>Dashboard Heading 6</h6>
				<hr>
				<p>Appropriately benchmark web-enabled bandwidth and functionalized leadership skills. Conveniently
					syndicate global opportunities without interactive methods of empowerment. Collaboratively
					conceptualize user-centric e-tailers for visionary methodologies. Dramatically myocardinate.
					Phosfluorescently disintermediate unique resources whereas reliable mindshare. Competently optimize
					client-focused infrastructures vis-a-vis e-business human capital. Uniquely formulate sustainable
					benefits whereas functional results. Energistically myocardinate bleeding-edge e-business.</p>
				<hr>
				<p class="text-muted"><code>.text-muted</code> Convey meaning through color with a handful of emphasis
					utility classes.</p>
				<p class="text-primary"><code>.text-primary</code> Convey meaning through color with a handful of
					emphasis utility classes.</p>
				<p class="text-success"><code>.text-success</code> Convey meaning through color with a handful of
					emphasis utility classes.</p>
				<p class="text-info"><code>.text-info</code> Convey meaning through color with a handful of emphasis
					utility classes.</p>
				<p class="text-warning"><code>.text-warning</code> Convey meaning through color with a handful of
					emphasis utility classes.</p>
				<p class="text-danger"><code>.text-danger</code> Convey meaning through color with a handful of emphasis
					utility classes.</p>
				<hr>
				<p>Make a paragraph stand out by adding <code>.lead</code></p>
				<p class="lead">Objectively re-engineer maintainable total linkage after proactive intellectual capital.
					Dynamically evolve best-of-breed e-services for user-centric customer.</p>
				<hr>
				<div class="well">
					<p class="text-left"><code>.text-left</code> Left aligned text.</p>
					<p class="text-center"><code>.text-center</code> Center aligned text.</p>
					<p class="text-right"><code>.text-right</code> Right aligned text.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
<!-- END MAIN CONTENT -->